/* スライドのデフォルト設定 */
.reveal .slides section {
    overflow-y: hidden; /* 初期状態でスクロール無効 */
    max-height: calc(100vh - 20px); /* ビューポート全体に制限 */
    box-sizing: border-box; /* 高さ計算を正確に */
}

/* スクロールが必要なスライド */
.reveal .slides section.scrollable {
overflow-y: auto !important; /* 縦スクロールを有効化 */
max-height: calc(100vh - 20px); /* ビューポート全体に制限 */
box-sizing: border-box; /* 高さ計算を正確に */
}



/* 全体の内側余白 */
.wholeMargin{
padding: 30px;
}



/* Beamer風ボックス全体のスタイル */
.beamer-box {
    border: 4px solid #4c4cff; /* 枠線の色 */
    border-radius: 15px;       /* 角の丸み */
    padding: 15px;            /* 内側の余白 */
    margin: 20px 60px;           /* 外側の余白 */
    background-color: #f0f4ff; /* 背景色 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* 影 */
    text-align: left; /* 左寄せ */
}

/* タイトル部分（アクセント付き） */
.beamer-box-title {
    background-color: #4c4cff; /* タイトルバーの背景色 */
    color: white;              /* 文字色 */
    font-weight: bold;         /* 太字 */
    padding: 8px 12px;         /* タイトルバーの内側余白 */
    margin: -15px -15px 15px -15px; /* マイナス余白で枠線と一体化 */
}

/* 本文部分 */
.beamer-box-content {
    color: #333; /* テキストの色 */
    line-height: 1.6; /* 行間 */
    padding: 10px 40px;  /* 内側の余白 */
}

/* 要素を左右に分割 */
.flex-container {
    display: flex;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
}
.flex-item {
    flex: 1;
}


/* 文章部分 */
.content {
    padding: 15px;            /* 内側の余白 */
    margin: 20px 60px;           /* 外側の余白 */
    text-align: left;          /* 左寄せ */
}
/* 注釈 */
.anotation {
    font-size: 18px;
    margin: 0px 0px 0px 0px;
}



.table_design08 {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  width: calc(100% - 120px);
  margin: 20px auto;
  table-layout: fixed;
}
.table_design08 th, .table_design08 td {
  border: 2px solid #d2e8f1;
  padding: 10px 0px;
}
.table_design08 thead th {
  background-color: #4d9bc1;
  color: #fff;
  border: 2px solid #4d9bc1;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.table_design08 thead th:last-of-type {
  border-right: 2px solid #4d9bc1;
}
.table_design08 tbody th {
  color: #4d9bc1;
  font-weight: bold;
}
th:first-child {
  border-top-left-radius: 15px; /* 左上の角を丸くする */
}
th:last-child {
  border-top-right-radius: 15px; /* 右上の角を丸くする */
}
td:first-child:last-child {
  border-bottom-left-radius: 15px; /* 左下の角を丸くする */
  border-bottom-right-radius: 15px; /* 右下の角を丸くする */
}
.txt {
  width: 350px;
}
.txt2 {
  width: 600px;
}

.nomargin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}